.manageAcc{
    margin-top: 80px;
    display: flex;
   justify-content: space-between;

}
.acc_menu{
    display: flex;
    flex-direction: column;
    gap:24px;
}
.acc_menu_head
{
color: rgb(0, 0, 0);
font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.acc_menu_menu>li{
    margin-left: 35px;
    list-style: none;
    color: rgb(0, 0, 0,0.5);
font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}

.acc_manage{
    width: 800px;
    height: 630px;
    border-radius: 4px;
    box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
    background: rgb(255, 255, 255);
    padding:40px 80px;
    .acc_manage_head{
color: rgb(219, 68, 68);
font-family: Poppins;
font-size: 20px;
font-weight: 500;
line-height: 28px;
    }
}
.acc_manage_first{
    margin-top: 16px;
}
.acc_manage_first_cont{
    display: flex;
    gap:50px;
    form >p{
color: rgb(0, 0, 0);
font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 24px;
    }
   form >input{
width: 290px;
height: 50px;
border-radius: 4px;
border:none;
padding: 16px 13px;

/* Secondary */
background: rgb(245, 245, 245);

   }

}
.acc_manage_two>p{
    color: rgb(0, 0, 0);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
        }
.acc_manage_two>form{
    display: flex;
    flex-direction: column; 
    gap:16px;
    >input{
        border-radius: 4px;
        border:none;
        background: rgb(245, 245, 245);
        height: 50px;
        padding: 16px 13px;
    }
 
}

.second{
    margin-top: 24px;
    margin-bottom: 24px;
   
}
.saveorcancell{
    display: flex;
    gap:32px;
    margin-top: 24px;
    justify-content: flex-end;
    width: 100%;
    align-items:center;
}
.cancel{
color: rgb(0, 0, 0);
font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 24px;
border:none;
}